.cvo-document .cvo-page { padding: 0mm; position: relative; }
.cvo-document .cvo-subpage { padding: 0mm; }
#group-header [contenteditable="true"]:empty::before { content: attr(cvo-placeholder); color: rgb(187, 187, 187); font-weight: 100; }
#group-header .cvoInvalidate { color: red; }
#cvo-body { font-family: Arial, sans-serif; font-size: 14px; line-height: 18px; }
#group-header { width: 100%; margin-bottom: 0px; padding: 7mm 7mm 0px; }
.header-top { }
#cvo-reference, #cvo-skillrate { float: left; }
#group-footer #cvo-reference { width: 32%; }
#group-footer #cvo-skillrate { width: 68%; }
#group-footer .cvo-block:first-child { padding-right: 10px; }
#group-footer .cvo-block:nth-child(2) { padding-left: 10px; }
#cvo-profile-avatar-wraper { width: 100%; text-align: right; }
#cvo-profile-avatar-wraper img { width: 80%; border-radius: 50%; }
#cvo-header-top-left { padding-top: 20px; float: left; text-align: left; width: 85%; padding-left: 1px; }
#cvo-header-top-left hr { width: 100px; margin: 10px 0px; border-width: 0px 0px 3px; border-style: none none solid; border-color: currentcolor currentcolor rgb(0, 0, 0); border-image: none; }
#cvo-header-top-right { padding-top: 10px; float: right; text-align: right; width: 15%; padding-right: 1px; }
#cvo-profile-fullname { width: 100%; font-weight: lighter; font-size: 28px; text-transform: capitalize; line-height: 36px; display: inline-block; }
#cvo-profile-title { text-transform: capitalize; width: 100%; }
#cvo-header-bottom { padding: 10px 0px; text-align: left; }
#cvo-header-bottom span { margin-right: 15px; }
#cvo-header-bottom span#cvo-profile-address { display: inline; }
#cvo-main { width: 100%; min-height: 560px; padding: 7mm 7mm 5mm; }
#cvo-main .cvo-block { width: 100%; padding-top: 20px; padding-bottom: 20px; position: relative; }
.cvo-block { padding-left: 3mm; padding-right: 3mm; }
#cvo-main #group-footer .cvo-block { border-top: 0px; }
#group-middle .cvo-block::before, #group-footer::before { border-top: 1px solid rgb(223, 223, 223); position: absolute; top: 0px; width: calc(100% - 22.6772px); line-height: 1px; content: " "; }
#group-footer::before { margin-left: 3mm; }
#cvo-main .cvo-block-title { margin: 0px 0px 10px; font-size: 15px; line-height: 32px; text-transform: uppercase; }
#cvo-main .cvo-block-title span { display: inline-block; padding-right: 5px; width: 100%; }
#cvo-main .row { margin-top: 5px; }
#cvo-main .row-col-time { width: 30%; float: left; text-align: left; color: rgb(68, 68, 68); }
#cvo-main .row-col-time i { font-size: 12px; line-height: 18px; }
#cvo-main .row-col-data { float: left; width: 70%; }
.row-com-name { font-weight: 600; color: rgb(0, 0, 0); margin-bottom: 5px; }
.row-title { font-style: italic; padding-left: 20px; background-image: url(https://www.topcv.vn/packages/cvo/templates/onepage_classic/assets/images/timeline-circle.png); background-size: 9px auto; background-position: 0px 4px; background-repeat: no-repeat; width: 100%; }
.row-details { padding: 7px 0px 7px 20px; background-image: url(https://www.topcv.vn/packages/cvo/templates/onepage_classic/assets/images/timeline-post.png); background-size: 9px 100%; background-position: 0px 0px; background-repeat: no-repeat; }
#cvo-main .cvo-block .row:last-child .row-details { padding-bottom: 0px; }
.color-highlight { color: rgb(0, 0, 0); }
.color-content { color: rgb(68, 68, 68); }
#cvo-skillrate { }
#skillrate-table .row { margin-bottom: 3px; }
.skill-title { width: 30%; float: left; }
.cvo-skillrate-title { width: 100%; display: inline-block; }
.cvo-skillrate-bar { width: 70%; float: left; margin-top: 3px; background-color: rgb(239, 239, 239); display: block; height: 8px; text-align: left; padding: 0px; }
.cvo-skillrate-value { display: block; height: 8px; background-color: rgb(35, 35, 35); }
.cvo-skillrate-bar[bval="1"] .cvo-skillrate-value { width: 20%; }
.cvo-skillrate-bar[bval="2"] .cvo-skillrate-value { width: 40%; }
.cvo-skillrate-bar[bval="3"] .cvo-skillrate-value { width: 60%; }
.cvo-skillrate-bar[bval="4"] .cvo-skillrate-value { width: 80%; }
.cvo-skillrate-bar[bval="5"] .cvo-skillrate-value { width: 100%; }
div#reference-table .row { margin-bottom: 10px; }
div#reference-table .row:last-child { margin-bottom: 0px; }
div#reference-table .row-reference-name { margin-bottom: 5px; }
div#reference-table .row-reference-details { line-height: 1.5em; }
.link-cv-online { font-size: 0.9em; font-style: italic; text-align: right; color: rgb(85, 85, 85); }
.link-cv-online a { color: rgb(35, 35, 35); }
#certification-table .row, #award-table .row { margin-bottom: 8px; }
#certification-table .row:last-child, #award-table .row:last-child { margin-bottom: 0px; }
#cvo-profile-email, #cvo-profile-address { min-width: 140px; }
#cvo-profile-phone { min-width: 80px; }
.cvo-experience-company, .cvo-education-school, .cvo-activity-organization, .cvo-reference-title, .cvo-reference-content { min-width: 90%; }
.row-col-data [contenteditable], #cvo-objective-objective, #cvo-interests-interests, #cvo-additional-information-details { min-width: 100%; }
#cv-watermark { position: absolute; right: 10mm; bottom: 5mm; font-size: 13px; color: rgb(85, 85, 85); }
@media print {
  .cvo-document .cvo-page { position: inherit; }
  #cvo-main { padding-bottom: 5mm; break-after: page; }
  .cvo-block .row { break-inside: avoid; }
}
@page { margin: 1cm 0px !important; }
@page :first { margin-top: 0px !important; }