.cvo-document .cvo-page { padding: 0mm; position: relative; }
.cvo-document .cvo-subpage { font-family: Arial, Sans-serif; padding: 0px; }
#cvo-body { color: rgb(73, 73, 73); font-size: 15px; }
#cvo-main { padding: 10mm 7mm; }
.cvo-block { padding: 15px 3mm; }
.cvo-block .row:last-child { margin-bottom: 0px; }
#cvo-header { text-align: center; margin-bottom: 35px; }
#cvo-avatar { width: 100px; height: 100px; border-radius: 120px; overflow: hidden; display: inline-block; border: 1px solid rgb(204, 204, 204); }
#cvo-avatar img { width: 100%; }
#cvo-profile-fullname { font-size: 28px; font-weight: normal; min-width: 230px; }
.cvo-container::after { display: table; clear: both; }
.cvo-col { display: block; width: 50%; float: left; }
#group-col-left { display: block; width: 60%; float: left; padding-right: 10px; }
#col-right { display: block; width: 40%; float: left; padding-left: 10px; }
.cvo-block-title { color: rgb(68, 68, 68); border-left: 6px solid rgb(124, 195, 152); padding: 0px 8px; margin-bottom: 15px; font-size: 18px; font-weight: bold; }
.cvo-block-title span { min-width: 90%; }
.cvo-highlight { color: rgb(68, 68, 68); font-weight: bold; }
.row { margin-bottom: 15px; }
#cvo-body div.paragraph { margin-bottom: 8px; }
#skillrate-table .row { margin-bottom: 7px; color: rgb(0, 0, 0); }
.cvo-skillrate-title-wraper { width: 55%; margin-right: 1%; float: left; }
.cvo-skillrate-title { color: rgb(73, 73, 73); width: 100%; display: inline-block; }
.cvo-skillrate-bar { float: left; margin-top: 3px; background-color: rgb(197, 216, 204); display: block; width: 44%; height: 8px; text-align: left; padding: 0px; }
.cvo-skillrate-value { display: block; height: 8px; background-color: rgb(124, 195, 152); }
.cvo-skillrate-bar[bval="1"] .cvo-skillrate-value { width: 20%; }
.cvo-skillrate-bar[bval="2"] .cvo-skillrate-value { width: 40%; }
.cvo-skillrate-bar[bval="3"] .cvo-skillrate-value { width: 60%; }
.cvo-skillrate-bar[bval="4"] .cvo-skillrate-value { width: 80%; }
.cvo-skillrate-bar[bval="5"] .cvo-skillrate-value { width: 100%; }
#cvo-interest .cvo-block-body div.paragraph { display: block; width: 50%; float: left; }
#cvo-profile-title { min-width: 200px; text-transform: capitalize; }
.cvo-activity-organization, .cvo-education-school, .cvo-award-title, .cvo-certification-title, .cvo-experience-company { min-width: 150px; }
#cvo-objective-objective, #cvo-additional-information-details, .cvo-reference-title, .cvo-reference-content, .cvo-activity-position, .cvo-activity-details, .cvo-education-title, .cvo-education-details, .cvo-experience-position, .cvo-experience-details { width: 100%; }
#cvo-profile div.paragraph span { width: 100%; }
#cvo-body .start, #cvo-body .end, #cvo-body .time { padding: 3px; }
#cv-watermark { position: absolute; right: 7mm; bottom: 5mm; font-size: 13px; color: rgb(85, 85, 85); }
@media print {
  .cvo-document .cvo-page { position: initial; }
  #cvo-main { break-after: page; }
  .cvo-block .row { break-inside: avoid; }
}
@page { margin: 1cm 0px !important; }
@page :first { margin-top: 0px !important; }