@font-face {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    src: local('Times New Roman'), url(/api/cv/source-assets/79a56952ccd841850c1f.woff) format('woff');
}


