@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: local('Arial'), url(/api/cv/source-assets/a088c31aa940a7d8e265.woff) format('woff');
}
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: local('Arial'), url(/api/cv/source-assets/f906bf2fd459603fbda8.woff) format('woff');
}
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    src: local('Arial'), url(https://fonts.cdnfonts.com/s/29105/ARIALI 1.woff) format('woff');
}
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    src: local('Arial'), url(/api/cv/source-assets/89800ac71d624fde174b.woff) format('woff');
}
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    src: local('Arial'), url(/api/cv/source-assets/6b237709c92353ccdea0.woff) format('woff');
}
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    src: local('Arial'), url(/api/cv/source-assets/51ceb0b8928506c60d5b.woff) format('woff');
}
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 500;
    src: local('Arial'), url(/api/cv/source-assets/b4ab30f7d5a2226db465.woff) format('woff');
}
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    src: local('Arial'), url(https://fonts.cdnfonts.com/s/29105/ARIALBD 1.woff) format('woff');
}
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    src: local('Arial'), url(/api/cv/source-assets/c4d78606920b45eddc3f.woff) format('woff');
}
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    src: local('Arial'), url(/api/cv/source-assets/2e81ded783718996ffeb.woff) format('woff');
}
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 700;
    src: local('Arial'), url(https://fonts.cdnfonts.com/s/29105/ARIALBI 1.woff) format('woff');
}
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 700;
    src: local('Arial'), url(/api/cv/source-assets/60b0d3d6cce7b269d863.woff) format('woff');
}
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 700;
    src: local('Arial'), url(/api/cv/source-assets/e31d71634ada3c46f4b1.woff) format('woff');
}
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    src: local('Arial'), url(/api/cv/source-assets/ce2d8469c2a32c272155.woff) format('woff');
}
@font-face {
    font-family: 'Arial Black';
    font-style: italic;
    font-weight: 400;
    src: local('Arial Black'), url(/api/cv/source-assets/2b6c3fcaac8a3b25a97c.woff) format('woff');
}
@font-face {
    font-family: 'Arial Light';
    font-style: normal;
    font-weight: 300;
    src: local('Arial Light'), url(/api/cv/source-assets/31ddb1cd5dcb5a5245f7.woff) format('woff');
}
@font-face {
    font-family: 'Arial CE';
    font-style: normal;
    font-weight: 500;
    src: local('Arial CE'), url(/api/cv/source-assets/ddc67a36e6298ed6b5d2.woff) format('woff');
}
@font-face {
    font-family: 'Arial CE MT Black';
    font-style: normal;
    font-weight: 900;
    src: local('Arial CE MT Black'), url(/api/cv/source-assets/408025d0cd447818529e.woff) format('woff');
}
@font-face {
    font-family: 'Arial CE';
    font-style: normal;
    font-weight: 7;
    src: local('Arial CE'), url(/api/cv/source-assets/e899ba8840be9c0ee771.woff) format('woff');
}
@font-face {
    font-family: 'Arial Light';
    font-style: italic;
    font-weight: 300;
    src: local('Arial Light'), url(/api/cv/source-assets/3d51fcb755e88afacc60.woff) format('woff');
}
@font-face {
    font-family: 'Arial CE';
    font-style: italic;
    font-weight: 500;
    src: local('Arial CE'), url(/api/cv/source-assets/e72b0d1720382af718b8.woff) format('woff');
}
@font-face {
    font-family: 'Arial CE';
    font-style: italic;
    font-weight: 700;
    src: local('Arial CE'), url(/api/cv/source-assets/d0d0f23b9392a2bcd454.woff) format('woff');
}


