@font-face { font-family: Prompt; src: url(https://www.topcv.vn/packages/cvo/templates/pro_4/assets/fonts/Prompt-Regular.ttf); font-weight: normal; }
@font-face { font-family: Prompt; src: url(https://www.topcv.vn/packages/cvo/templates/pro_4/assets/fonts/Prompt-SemiBold.ttf); font-weight: bold; }
.cvo-document .cvo-page { padding: 0mm; }
.cvo-document .cvo-subpage { padding: 0mm; }
.cvo-document .cvo-subpage::before, .cvo-document .cvo-subpage::after { clear: both; content: ""; display: table; margin-top: -1px; height: 0px; }
#cvo-body { background-image: url(https://www.topcv.vn/packages/cvo/templates/pro_4/assets/images/background.png); background-size: 100% 100%; background-repeat: no-repeat; margin: 4mm 3mm; position: relative; font-family: Prompt, Arial, sans-serif; font-size: 13px; line-height: 18px; }
#cvo-main { padding-top: 5px; }
#col-right { width: 58%; float: right; min-height: 560px; padding-top: 1px; }
#col-left { width: 42%; min-height: 560px; float: left; }
#col-left .cvo-block, #profile-contact-wraper { width: 100%; padding: 5px 12px; margin-bottom: 10px; }
#col-left .cvo-block-title { margin: 0px 0px 15px; font-size: 20px; line-height: 32px; text-transform: uppercase; font-weight: bold; color: rgb(12, 164, 205); border: 2px solid rgb(12, 164, 205); border-radius: 6px; text-align: center; }
@supports (overflow:-webkit-marquee) and (justify-content:inherit) {
  #col-left .cvo-block-title span { font-weight: 400; }
}
#col-left #cvo-profile { width: 100%; padding: 0px; margin-bottom: 10px; }
#profile-title-wrapper { text-align: center; padding: 5px 3px; margin-bottom: 10px; }
#cvbuilder-container #cvo-profile:hover #profile-title-wrapper { box-shadow: rgb(204, 204, 204) 0px 2px 0px 2px inset; }
#profile-title-wrapper [contenteditable="true"]:empty::before { content: attr(cvo-placeholder); color: rgb(187, 187, 187); font-weight: 100; }
#profile-title-wrapper .cvoInvalidate { color: orange; }
#cvo-profile-fullname { margin-top: 5px; font-size: 32px; font-weight: bold; width: 100%; line-height: 39px; display: inline-block; text-transform: capitalize; color: rgb(12, 164, 205); text-align: center; padding: 0px 10px; }
#cvo-profile-title { width: 100%; font-size: 18px; text-transform: capitalize; font-weight: 600; color: rgb(12, 164, 205); margin-top: 10px; padding: 0px 15px; }
#cvo-profile-website { width: 170px; word-break: break-all; }
#profile-contact-wraper i.fa { width: 19px; height: 19px; text-align: center; line-height: 17px; color: rgb(12, 164, 205); vertical-align: top; }
#profile-contact-wraper span.profile-content { padding-left: 7px; width: 93%; display: inline-block; }
#profile-contact-wraper span#cvo-profile-email { word-break: break-all; }
#cvo-objective-objective { width: 100%; text-align: justify; }
#cvo-skillrate { padding-left: 0px; padding-right: 0px; }
#cvo-skillrate { padding-left: 0px; }
#skillrate-table .row { margin-bottom: 10px; }
#skillrate-table .row::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.cvo-skillrate-title { width: 40%; display: inline-block; float: left; text-transform: uppercase; font-weight: bold; }
.cvo-skillrate-bar { margin-top: 3px; background-color: rgb(235, 235, 235); display: block; width: 60%; height: 10px; text-align: left; padding: 0px; float: left; border: 2px solid rgb(12, 164, 205); }
.cvo-skillrate-value { display: block; height: 8px; background-color: rgb(12, 164, 205); }
.cvo-skillrate-bar[bval="1"] .cvo-skillrate-value { width: 20%; }
.cvo-skillrate-bar[bval="2"] .cvo-skillrate-value { width: 40%; }
.cvo-skillrate-bar[bval="3"] .cvo-skillrate-value { width: 60%; }
.cvo-skillrate-bar[bval="4"] .cvo-skillrate-value { width: 80%; }
.cvo-skillrate-bar[bval="5"] .cvo-skillrate-value { width: 100%; }
#cvo-interest { padding-left: 0px; padding-right: 0px; }
#interest-table { padding-left: 20px; }
#interest-table .row { width: 42%; float: left; margin-bottom: 5px; margin-right: 15px; word-break: break-word; }
ul#interest-table { list-style: circle; }
#interest-table li { width: 100%; list-style-type: circle; }
#interest-table li:nth-child(2n) { margin-left: 10px; }
.cvo-interest-details { width: 100%; vertical-align: top; }
#col-right .cvo-block { width: 100%; padding: 3px 15px; margin-bottom: 10px; }
#col-right .cvo-block:last-child { padding-bottom: 0px; }
#col-right .cvo-block-title { margin: 0px 0px 15px; font-size: 20px; line-height: 32px; text-transform: uppercase; font-weight: bold; width: 85%; text-align: center; background-color: rgb(12, 164, 205); color: rgb(234, 242, 255); border-radius: 6px; padding: 3px; }
#col-right .cvo-block-title span { display: inline-block; width: 100%; }
#col-right .cvo-block-title.no-horizontal-line { background-image: none; }
#col-right .cvo-block-title i.fa { background-color: rgb(38, 50, 56); color: rgb(255, 255, 255); border-radius: 50%; text-align: center; width: 40px; height: 40px; vertical-align: middle; padding-top: 10px; margin-right: 5px; }
#col-right .cvo-block-title span { display: inline-block; padding-right: 5px; }
#col-right .row { margin: 15px 0px; }
#col-right .row:last-child { margin-bottom: 0px; }
.row-title { margin-bottom: 5px; width: 100%; }
.row-details [cvo-form-field] { width: 100%; }
.cvo-education-school-wraper { text-transform: uppercase; text-align: left; font-weight: bold; }
.cvo-education-time { font-size: 0.9em; text-align: right; }
.cvo-education-time .default_min_width { min-width: 15pt; }
.cvo-education-title { width: 100%; }
.cvo-experience-company-wraper { text-transform: uppercase; text-align: left; font-weight: bold; }
.cvo-experience-time { font-size: 0.9em; font-weight: bold; text-transform: uppercase; }
.cvo-experience-time .default_min_width { min-width: 15pt; }
.cvo-experience-position { width: 100%; }
.cvo-activity-organization-wraper { text-transform: uppercase; text-align: left; font-weight: bold; }
.cvo-activity-time { font-size: 0.9em; font-weight: bold; text-align: right; text-transform: uppercase; }
.cvo-activity-time .default_min_width { min-width: 15pt; }
.cvo-activity-position { color: rgb(65, 65, 66); width: 100%; }
.cvo-award-title-wraper, .cvo-certification-title-wraper { width: 75%; padding-right: 5px; text-align: left; float: left; }
.cvo-award-title, .cvo-certification-title { width: 100%; }
.cvo-award-time-wraper, .cvo-certification-time-wraper { width: 25%; font-size: 0.9em; font-weight: bold; text-align: right; float: right; text-transform: uppercase; }
.cvo-award-time-wraper .default_min_width, .cvo-certification-time-wraper .default_min_width { min-width: 15pt; }
.cvo-activity-position { color: rgb(65, 65, 66); width: 100%; }
.row-col-left { width: 30%; float: left; }
.row-col-left span { width: 100%; font-weight: bold; }
.row-col-right { padding-left: 10px; width: 70%; float: left; }
.row-col-right span { width: 100%; }
#reference-table .row { margin-bottom: 6px; }
#reference-table .row:only-child { width: 100%; padding-left: 0px; padding-right: 0px; }
#reference-table .cvo-reference-content { width: 100%; }
#cvo-additional-info #cvo-additional-information-details { width: 100%; display: inline-block; }
.hidden-time .cvo-education-school-wraper, .hidden-time .cvo-activity-organization-wraper, .hidden-time .cvo-experience-company-wraper, .hidden-time .cvo-award-title-wraper, .hidden-time .cvo-cerrtification-title-wraper { width: 100%; }
.cvo-education-school-wraper, .cvo-experience-company-wraper, .cvo-activity-organization-wraper { display: inline; }
.cvo-education-time, .cvo-experience-time, .cvo-activity-time { font-weight: 100; display: inline; margin-left: 4px; }
.cvo-education-first-line, .cvo-experience-first-line, .cvo-activity-first-line { margin-bottom: 5px; }
#cvo-profile-avatar-wraper { display: block; height: 160px; width: 160px; border: 5px solid rgb(12, 164, 205); border-radius: 50%; margin: 0px auto 15px; }
#cvo-profile-avatar { width: 100%; height: 100%; border-radius: 50%; }
@media print {
  .cvo-document .cvo-page { position: initial; }
  #cvo-main { break-after: page; }
  .cvo-block .row { break-inside: avoid; }
}
@page { margin: 4mm 0px !important; }
@page :first { margin-top: 0px !important; }